[Desktop Entry]
Version=1.0
Name=Google Keep (Work)
Comment=Google Keep (Work)
Exec=omarchy-launch-webapp https://keep.google.com/u/1/
Terminal=false
Type=Application
Icon=/home/alex/.local/share/applications/icons/Google Keep (Work).png
StartupNotify=true
