[Desktop Entry]
Version=1.0
Name=Google Tasks (Work)
Comment=Google Tasks (Work)
Exec=omarchy-launch-webapp https://tasks.google.com/u/1/tasks/
Terminal=false
Type=Application
Icon=/home/alex/.local/share/applications/icons/Google Tasks (Work).png
StartupNotify=true
