[Desktop Entry]
Version=1.0
Name=Google Calendar (Personal)
Comment=Google Calendar (Personal)
Exec=omarchy-launch-webapp https://calendar.google.com/calendar/u/0/r?pli=1
Terminal=false
Type=Application
Icon=/home/alex/.local/share/applications/icons/Google Calendar (Personal).png
StartupNotify=true
